.btn {
  display: inline-block;
  padding: $space-2 $space-3;
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.btn-primary {
  background-color: $primary-color;
  color: $btn-primary-text;


  &:hover {
    opacity: 0.9;
  }
}

.btn-secondary {
  background-color: $btn-secondary-bg;
  color: $primary-color;
  border: 1px solid $primary-color;

  &:hover {
    background-color: $primary-color;
    color: $btn-primary-text;
  }
}

.btn {
  margin-right: $space-2;
  margin-bottom: $space-2;
}
