.btn {
  display: inline-block;
  padding: $space-2 $space-3;
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.btn-primary {
  background-color: $primary-color;
  color: white;

  &:hover {
    opacity: 0.9;
  }
}

.btn-secondary {
  background-color: white;
  color: $primary-color;
  border: 1px solid $primary-color;
}

.btn-secondary:hover {
  background-color: $primary-color;
  color: white;
}
