label {
  display: block;
  margin-bottom: $space-1;
  font-weight: 500;
}

input, textarea, select {
  width: 100%;
  padding: $space-2;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  margin-bottom: $space-3;
  font-family: inherit;

  &:focus {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
    border-color: $primary-color;
  }
}

textarea {
  min-height: 120px;
}
