table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $space-4;
}

th, td {
  padding: $space-2;
  border: 1px solid $border-color;
  border-color: royalblue;
  text-align: left;
}

th {
  background-color: #e78b67;
}
