table, .table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $space-4;
}

th, td {
  padding: $space-2;
  border: $border-width solid $table-border-color;
  text-align: left;
}

th {
  background-color: $table-header-bg;
}
