h1, h2, h3, h4, h5, h6 {
  margin-bottom: $space-3;
  font-weight: 600;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

p {
  margin-bottom: $space-3;
}

ul, ol {
  padding-left: $space-4;
}
li {
  margin-bottom: $space-1;
}   