.m-1 { margin: $space-1; }
.m-2 { margin: $space-2; }
.m-3 { margin: $space-3; }

.p-1 { padding: $space-1; }
.p-2 { padding: $space-2; }
.p-3 { padding: $space-3; }

.fw-bold { font-weight: 700; }
.fs-sm { font-size: 0.875rem; }
.fs-lg { font-size: 1.25rem; }


.text-primary { color: $primary-color; }
.bg-primary { background-color: $primary-color; color: rgb(12, 213, 248); }

